models/*
archieve/*
exp/*
data/*
dataset_raw/*
webui.py
NewSFWebui.py
*.pyc
tmp/*
encryption.exe
*.npy
ffmpeg
events.out.tfevents*
*.wav
test.py
*.bin
pretrained/*
pretrain/*
other_weights/*
wt/

results/*
outdata_webui.py

license.bin

*.pyi
*.pyd
*.build/*
workdir

*.zip
*.7z

.conda
buildtools.py
dist*